@import '../variables'

.well.well-empty
  background-color #fff

tr:first-child
  // border-top none
  border-top-color #fff

tr.listed-chatroom:hover
  background-color #f5f5f5

.chatroom-table-temporary
  width 10%
  text-align center

.chatroom-table-name
  width 30%
  text-align left

.chatroom-table-description
  width 60%
  text-align left
