.multiselector {
  margin: 0 0 15px;
  min-width: 180px;
  padding: 3px;
}

#new-room-options {
  display: none;
}

.new-room-type span.glyphicon-folder-open {
  color: green;
}

.new-room-type span.glyphicon-trash {
  color: red;
}

