#new-room-options {
  display: none;
}
i.fa.fa-recycle {
  color: #d93226;
  font-size: 16px;
}
i.fa.fa-folder-open {
  color: #1d9d74;
  font-size: 16px;
}

.multiselector {
  margin: 0 0 15px;
  min-width: 180px;
  padding: 3px;
}

.form-group .select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 6px;
}
.select2-search-choice .select2-search-choice-close {
  top: 9px;
}
.form-group .select2-container-multi .select2-choices .select2-search-field input {
  padding-left: 12px;
}