#new-room-options {
  display: none;
}
i.fa.fa-recycle {
  color: #d93226;
  font-size: 16px;
}
i.fa.fa-folder-open {
  color: #1d9d74;
  font-size: 16px;
}

.multiselector {
  margin: 0 0 15px;
  min-width: 180px;
  padding: 3px;
}