@import '../variables'

.message-table-author
  width 20%
  text-align left
  font-weight bold

.message-table-content
  width 60%
  text-align left

tr.listed-message > td.message-table-time
  width 20%
  text-align left
  font-size 11px
  color #999
  padding 9px 0 9px 8px

tr.listed-message > td.message-table-time.time-date
  color #777
  padding 3px 0 3px 8px
  font-style italic
