<template name="footer">
  <footer role="contentinfo">
    <nav class="container">
      <ul class="list-inline text-muted pull-right" role="menubar">
        <li role="presentation">
          &copy; 2014 by &nbsp;<a href="#">DaVinci</a>
        </li>
        <li role="presentation">
          &bull;
        </li>
        <li role="presentation">
          <a href="{{pathFor 'privacyPolicy'}}" role="menuitem">
            Privacy Policy
          </a>
        </li>
        <li role="presentation">
          &bull;
        </li>
        <li role="presentation">
          <a href="{{pathFor 'termsOfUse'}}" role="menuitem">
            Terms of Use
          </a>
        </li>  
      </ul>
    </nav>
  </footer>
</template>