<template name="footer">
  <footer>
    <div class="container">
      <ul class="list-inline text-muted pull-right">
        <li>
          &copy; 2014 by &nbsp;<a href="#">DaVinci</a>
        </li>
        <li>
          &bull;
        </li>
        <li>
          <a href="{{pathFor 'privacyPolicy'}}">Privacy Policy</a>
        </li>
        <li>
          &bull;
        </li>
        <li>
          <a href="{{pathFor 'termsOfUse'}}">Terms of Use</a>
        </li>  
      </ul>
    </div>
  </footer>
</template>