<template name="header">
  <header class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Chattr</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul id="header-navlinks" class="nav navbar-nav" role="menubar">
          {{#if isLoggedIn}}
            <li class="{{activeRouteClass 'dashboard'}}" role="presentation">
              <a href="{{pathFor 'dashboard'}}" role="menuitem">
                Rooms
              </a>
            </li>
            <li class="{{activeRouteClass 'usersList'}}" role="presentation">
              <a href="{{pathFor 'usersList'}}" role="menuitem">
                Users
              </a>
            </li>
          {{/if}}
        </ul>
        <div class="nav navbar-nav navbar-right">
          <div class="login-buttons">
            {{> loginButtons}}
          </div>
        </div>
      </nav>
    </div>
  </header>
</template>