<template name="header">
  <header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Chattr</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul id="header-navlinks" class="nav navbar-nav">
          {{#if isLoggedIn}}
            <li class="{{activeRouteClass 'dashboard'}}">
              <a href="{{pathFor 'dashboard'}}">Rooms</a>
            </li>
            <li class="{{activeRouteClass 'usersList'}}">
              <a href="{{pathFor 'usersList'}}">Users</a>
            </li>
          {{/if}}
        </ul>
        <div class="nav navbar-nav navbar-right">
          <div class="login-buttons">
            {{> loginButtons}}
          </div>
        </div>
      </div>
    </div>
  </header>
</template>