html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

.navbar.navbar-default {
  /*background-color: hsla(198.4, 60%, 60%, 1);*/
  /*color: #fff;*/
}
.navbar.navbar-default a, .navbar.navbar-default .navbar-nav > li > a {
  /*color: #fff;*/
}

footer {
  position: absolute;
  background-color: hsla( 0, 0.0%, 95%, 1 );
  /*background-color: hsla(198.4, 60%, 60%, 1);*/
  bottom: 0;
  height: 60px;
  width: 100%;
}
footer a {
  /*color: #fff;*/
}


body > .container {
  padding: 80px 15px 70px;
}

.container .text-muted {
  margin: 20px 0;
  /*color: hsla(0,30%,80%,1);*/
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.login-buttons {
  margin-top: 12px;
}

@media (max-width: 768px) {
  .login-buttons-dropdown-align- {
    margin-left: 15px;
  }
  .login-buttons {
    margin-top: 0px;
  }
}