html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

/*.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
 border-radius: 0px 0px 3px 3px;
}*/

footer {
  position: absolute;
  background-color: hsla( 0, 0.0%, 95%, 1 );
  bottom: 0;
  height: 60px;
  width: 100%;
}
body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}