.message-table-author {
  width: 20%;
  text-align: left;
  font-weight: bold;
}
.message-table-content {
  width: 60%;
  text-align: left;
}
.message-table-time {
  width: 20%;
  text-align: left;
  font-size: 11px;
  color: #999;
}
