html {
  min-height: 100%;
  position: relative;
}

body { margin-bottom: 60px; }

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
 border-radius: 0px 0px 3px 3px;
}

h1,
.h1 {
  font-size: 24px;
}

footer {
  background-color: hsla( 0, 0.0%, 95%, 1 );
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

.advanced-fields {
  color: hsla( 120, 50%, 40%, 1 );
  display: inline;
  margin-right: 5px;
}

body > .container {
  padding: 60px 15px 0;
}

.h1-button {
  margin-top: 20px;
}

.room.row {
  margin-top: 15px;
}

.messages h1 {
  font-size: 3em;
}

.room-icon {
  background-color: hsla( 0, 0.0%, 30%, 1 );
  color: hsla( 0, 0.0%, 100%, 1 );
  font-size: 1.4em;
  padding: 10px 0 5px;
  text-align: center;
  border-radius: 5px;
}

.no-messages {
  color: hsla( 0, 0.0%, 80%, 1 );
}

.room-icon.paperclip { background-color: hsla( 120, 50%, 40%, 1 ); }

.room-icon.fire { background-color: hsla( 0, 50%, 40%, 1 ); }

.room-title, .room-description, .room-tags {
  font-size: 1.2em;
}

.room-tags {
  color: hsla( 0, 0.0%, 70%, 1 );
}

h1 .glyphicon {
  font-size: 0.8em;
  margin-left: 5px;
}

.multiselector {
  margin: 0 0 15px;
  width: 180px;
}

ul.links,
ul.challenges,
ul.users,
ul.rooms {
  font-size: 1.2em;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}

ul.links li {
  color: hsla( 0, 0.0%, 70%, 1 );
  line-height: 1.25;
  list-style: none;
  margin-bottom: 0.3em;
}

ul.challenges li {
  line-height: 1.25;
  list-style: none;
  margin-bottom: 0.3em;
}

ul.challenges li ol li {
  list-style: lower-alpha;
  margin-left: -5px;
}

ul.challenges .answers {
  display: none;
}

ul.links li a { font-size: 1.2em; }

ul.users li > span,
ul.rooms li > span {
  padding-right: 10px;
}

li.paperclip,
li.fire,
li.cog,
li.wrench,
li.earphone {
  list-style: none;
}

li.paperclip > span,
h1 .glyphicon-paperclip { color: hsla( 120, 50%, 40%, 1 ); }

li.fire > span,
h1 .glyphicon-fire { color: hsla( 0, 50%, 40%, 1 ); }

li.cog > span { color: hsla( 120, 50%, 40%, 1 ); }

li.wrench > span  { color: hsla( 240, 50%, 40%, 1 ); }

li.earphone > span  { color: hsla( 0, 50%, 40%, 1 ); }

section.messages {
  position: relative;
}

.messages-box {
/*  border: 1px solid hsla( 0, 0.0%, 80%, 1 );
  border-radius: 5px;*/
}

.message-box {
  padding: 10px 0;
}

.message-avatar {
  padding: 10px;
  text-align: center;
}

.message {
  font-size: 1.2em;
  margin: 10px 0;
}

.user {
  padding: 5px;
}

.user img {
  margin-right: 10px;
  vertical-align: middle;
}

.student-name,
.instructor-name,
.staff-name {
  font-size: 1.3em;
}

.student-name { color: hsla( 120, 50%, 40%, 1 ); }

.instructor-name { color: hsla( 240, 50%, 40%, 1 ); }

.staff-name { color: hsla( 0, 50%, 40%, 1 ); }

.container .text-muted {
  margin: 20px 0;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}