// ORIGINAL THEME

menu_background_color = hsla( 0, 0.0%, 95%, 1 )
menu_button_color = #777777
menu_button_hover = #555555
menu_link_color = #428bca
menu_link_color_hover = #2a6496
menu_text_muted = #777777

// BLUE THEME

// menu_background_color = hsla(198.4, 60%, 60%, 1)
// menu_button_color = #fff
// menu_button_hover = #555555
// menu_link_color = #fff
// menu_link_color_hover = #2a6496
// menu_text_muted = hsla(0,30%,80%,1)


// GENERIC COLORS

temporary_room_icon = #d93226
archivable_room_icon = #1d9d74
