<template name="createMessage">
  <form>
    <div class="input-group">
      <input type="text" class="form-control" id="content" placeholder="Enter message…">
      <div class="input-group-btn">
        <button id="messageSubmit" type="submit" class="btn btn-primary" tabindex="-1">
          Send
        </button>
        <!-- <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
          <span class="caret"></span>
        </button> -->
        <!-- <ul class="dropdown-menu pull-right">
          <li>
            <a href="#">Attach File</a>
          </li>
          <li>
            <a href="#">Ask a question</a>
          </li>
        </ul> -->
      </div>
    </div>
  </form>
</template>