<template name="messages">
    <ul class="chatroom-messages">
      {{#each messages}}
        <li>{{userId}}: {{message}}</li>
      {{/each}}
    </ul> <!-- /.chatroom-messages -->
</template> <!-- /messages -->

<template name="messageInput">
  <form class="messageInput">
    <div class="input-group">
      <input type="text" class="form-control" id="message" placeholder="Enter message…">
      <div class="input-group-btn">
        <button id="messageSubmit" type="submit" class="btn btn-default" tabindex="-1">Send</button>
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Attach File</a></li>
          <li><a href="#">Ask a question</a></li>
        </ul> <!-- /.dropdown-menu .pull-right -->
      </div> <!-- /.input-group-btn -->
    </div> <!-- /.input-group -->
  </form> <!-- /.messageInput -->
</template> <!-- /messageInput -->