<template name="chatroomsList">
  <div class="well">
    <h1>My Chatrooms</h1>
    <div class="well well-empty">
      <table class="table">
        <thead>
          <tr>
            <th class="sr-only">Temporary or Permanent</th>
            <th class="sr-only">Chat Room Name</th>
            <th class="sr-only">Chat Room Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each chatrooms}}
            {{#if isMember}}
              <tr class="listed-chatroom">
                <td class="chatroom-table-temporary">
                  {{#if isTemporary}}
                    <i class="fa fa-recycle"></i><span class="sr-only">Temporary</span>
                  {{else}}
                    <i class="fa fa-folder-open"></i><span class="sr-only">Archivable</span>
                  {{/if}}
                </td>
                <td class="chatroom-table-name">
                  <a href="{{ pathFor 'chatroom' }}">
                    {{name}}
                  </a>
                </td>
                <td class="chatroom-table-description">
                  <a href="{{ pathFor 'chatroom' }}">
                    {{description}}
                  </a>
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>