<template name="chatroom">
  <div class="chatroom">
    <div class="container">
      <div class="row-fluid">
        <div class="messages col-md-8 well">
          <div class="row chatroom-header">
            <strong>{{name}}</strong> {{description}}
          </div>
          <div class="chatroom-messages well">{{> messages}}</div>
          {{> messageInput}}
        </div> <!-- /.messages -->
      </div> <!-- row-fluid -->
    </div> <!-- /.container -->
  </div> <!-- /.chatroom -->
</template>