<template name="chatroomItem">
  <div class="row">
    <div class="col-md-8">

      <section class="well">
        <header class="row chatroom-header">
          <h1>{{name}}</h1>
          <h2>{{description}}</h2>
        </header>
        <div class="well well-empty">
          {{> messagesList}}
        </div>
        {{> createMessage}}
      </section>

    </div>

    <div class="col-md-4">

      <section class="well">
        <header>
          <h1 class="sr-only">Quit or Delete Room</h1>
        </header>
        {{#if isInvitedMember}}
          <input id="quit-room" type="button" class="btn btn-warning quit-room" value="Leave this room">
        {{/if}}

        {{#if isOwner}}
          <input id="delete-room" type="button" class="btn btn-danger delete-room" value="Delete this room">
        {{/if}}
      </section>

      <section class="well">
      <header>
        <h1 class="sr-only">Tags and Room Members</h1>
      </header>

        {{#if tagsList}}
          <h2>Tags</h2>
          <div>
            {{#each tagsList}}
            <button class="btn btn-alert">{{this}}</button>
            {{/each}}
          </div>
        {{/if}}

        <h2>Chatroom users</h2>
        <ul class="list-unstyled">
          {{#each members}}
            <li>
              <a href="{{ pathFor 'userItem' }}">
                {{profile.name}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    </div>
  </div>

</template>
