<template name="createChatroom">
  <aside id="new-room-form">
    <div class="well well-empty">
    <header>
      <h2>Add a new room</h2>
    </header>
    <form id="new-room-form" method="GET" action="#">
      <fieldset id='new-room-type' class="new-room-type">
        <p>
          What kind of room would you like to create?
        </p>

        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" id="temporary" name="room-type" value="true"> 
            Temporary <i class="fa fa-recycle"></i>&nbsp;
          </label>

          <label class="radio-inline">
            <input type="radio" id="permanent" name="room-type" value="false"> 
            Archivable <i class="fa fa-folder-open"></i>&nbsp;
          </label>
        </div>
      </fieldset>

      <fieldset id='new-room-options'>
        <div class="form-group">
          <label for="room-title" class="sr-only">Room Name</label>
          <input id="room-title" class="form-control" name="room-name" placeholder="Give your room a title">
        </div>
        <div class="form-group">
          <label for="room-description" class="sr-only">Description</label>
          <textarea id="room-description" class="form-control" name="description" placeholder="Describe the purpose of your room"></textarea>
        </div>
        
        {{> usersList}}
        
        <div class="form-group">
          <label for="room-tags" class="sr-only">Tags</label>
          <input id="room-tags" class="form-control" name="room[tags]" placeholder="Add tags separated by spaces">
        </div>

        <div class="form-group">
          <input id="create-room" type="submit" class="btn btn-primary" value="Create the room!">
        </div>
      </fieldset>
    </form>
    </div>
  </aside>
</template>